.container {
  font-family: "Eurostile";
  font-size: 1rem;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-align: center;
}
.aboutMeBox {
  font-size: 2.5rem;
  font-weight: 200;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.text {
  margin-right: 150px;
  margin-left: 150px;
}

.text h3 {
  font-size: 1.2em;
  font-weight: 200;
  font-family: "Bookman";
  animation: myAnim 2s ease 0s 1 normal backwards;
}
.techStack h1 {
  font-size: 2.5rem;
  font-weight: 200;
  animation: myAnim2 0.2s ease 0s 1 normal backwards;
}

.text2 h2 {
  font-family: "Bookman";
  line-height: 0.25em;
}

@media (max-width: 768px) {
  .aboutMeBox {
    margin-top: 15%;
  }
  .text {
    margin-right: 25px;
    margin-left: 25px;
  }
  .text2 h2 {
    margin-right: 25px;
    margin-left: 25px;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
