.container {
  font-family: "Eurostile";
  font-size: 1rem;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-align: center;
}

.contactMe h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.text h3 {
  font-family: "Bookman";
  font-weight: 200;
  padding: 0% 0% 0% 15%;
  width: 80%;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.socials h2,
.contacts h2 {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.5rem;
  animation: myAnim2 0.4s ease 0s 1 normal forwards;
}

.socials,
.contacts {
  padding-right: 45px;
  font-size: 1.25;
  list-style: none;
  line-height: 2rem;
  border-bottom: 1px solid #eaeaea;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}
.socials a,
.contacts a {
  animation: myAnim2 0.5s ease 0s 1 normal forwards;
}
.socials a:hover,
.contacts a:hover {
  color: var(--highlight);
  text-decoration: underline;
  transform: scale(1.7);
  animation: myAnim3 0.5s ease 0s 1 normal;
  transition: 0.2s ease-in;
}

.resume {
  font-size: 3rem;
  line-height: 4rem;
  animation: fadeInResume 1s ease-in;
}

.resume a:hover {
  color: var(--highlight);
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInResume {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
