@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Urbanist&display=swap");

@font-face {
  font-family: "Eurostile";
  font-display: block;
  src: url(../public/fonts/EurostileLTStd-Ex2.otf);
}

@font-face {
  font-family: "Bookman";
  font-display: block;
  src: url(../public/fonts/BookmanOldStyle.ttc);
}

:root {
  --primary: #fafafa;
  --secondary: #fdf2d4;
  --highlight: #f89c2a;
  --text: #373741;
  --secondaryText: #777;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #eaeaea;
  position: relative;
  z-index: 2;
}

footer a {
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  transform: scale(1.1);
}

.not-found {
  text-align: center;
}

.not-found a {
  text-decoration: underline;
}
