@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --primary: #fffcf2;
  --secondary: #fdf2d4;
  --highlight: #f89c2a;
  --text: #373741;
  --secondaryText: #777;
}

body {
  color: var(--text);
  font-family: "Raleway", sans-serif;
  background-color: var(--primary);
  overflow-x: hidden;
}
a {
  color: var(--text);
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 20px auto 2rem;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}
nav a {
  font-size: 1.3rem;
  margin-left: 12px;
}

nav a:hover {
  color: var(--highlight);
  transform: scale(1.1);
}
nav .logo {
  color: var(--text);
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  color: var(--secondaryText);
  border-top: 1px solid #eaeaea;
}

footer a {
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  color: var(--highlight);
  transform: scale(1.1);
}

.not-found {
  text-align: center;
}

.not-found a {
  color: var(--highlight);
  text-decoration: underline;
}
