@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&family=Nanum+Gothic+Coding&family=Nunito:wght@300&family=Poiret+One&display=swap");

:root {
  --primary: #fafafa;
  --secondary: #fdf2d4;
  --highlight: #f89c2a;
  --text: #373741;
  --secondaryText: #777;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Poiret One", cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #eaeaea;
  position: relative;
  z-index: 2;
}

footer a {
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  transform: scale(1.1);
}

.not-found {
  text-align: center;
}

.not-found a {
  text-decoration: underline;
}
