.title {
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 9rem;
  position: relative;
  left: 200px;

  text-align: start;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.description {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.phrase {
  width: 25%;
  animation: myAnim 2s ease 0s 1 normal backwards;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
