.title {
  font-family: "Eurostile";
  font-size: 6rem;
  letter-spacing: -5px;
  position: relative;
  height: 1.75em;
  top: 1em;
  left: 1.4em;
  text-align: start;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.description {
  font-family: "Eurostile";
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.phrase {
  text-decoration: none;
  font-size: 0.75em;
  letter-spacing: 2px;
  font-weight: 400;
  width: 25%;
  padding-left: 5%;
  animation: myAnim 2s ease 0s 1 normal backwards;
}

.toggler {
  position: relative;
  z-index: 1;
  padding-left: 5%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
