/* NAV MENU */

.container {
  display: none;
}
.menu {
  position: fixed;
  right: 5px;
  top: 5px;
  box-shadow: 22px 21px 51px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 22px 21px 51px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 21px 51px -32px rgba(0, 0, 0, 0.75);
  background: var(--primary);
  border-radius: 5px;
}

.menuItems {
  animation: growDown 1s ease-in-out forwards;
  position: fixed;
  top: 40px;
  right: 5px;
  box-sizing: content-box;
  outline: none;
  box-shadow: 22px 21px 51px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 22px 21px 51px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 21px 51px -32px rgba(0, 0, 0, 0.75);
}

#item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#item2 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menuItems a {
  display: grid;
  grid-auto-columns: 1;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
}

.menuItems a:hover {
  color: var(--highlight);
}
.menuItems a:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .container {
    position: absolute;
    right: 15px;
    top: 2px;
    display: block;
    z-index: 99;
    font-family: 'Eurostile';
  }
}
