.container {
  display: none;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 99;
  font-family: "Eurostile";
}
.menuItems {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: red;
  margin: 2%;
  line-height: 25px;
}

#item:hover {
  color: var(--highlight);
}

.active:hover {
  color: red;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
