.container {
  height: 100%;
  width: 100px;
  background: var(--primary);
  position: fixed;
  right: 3%;
  z-index: 2;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  transition: 0.5s;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.link {
  color: var(--text);
  background: var(--primary);
  font-weight: 900;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.15rem;
  display: block;
  transition: 0.3s;
}

.link:hover {
  transform: scale(1.1, 1.1);
  color: var(--highlight);
  text-decoration: underline;
}

.linkActive {
  color: var(--highlight);
}

.socials {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  align-items: center;
}

.socials a {
  color: var(--text);
  background: var(--primary);
  padding: 0.5rem 1rem 1rem 1rem;
  transform: scale(1.5);
}
.socials a:hover {
  background: transparent;
  transform: scale(1.7);
  color: var(--highlight);
  transition: 0.2s ease-in;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
