.container {
  font-family: "Eurostile";
  font-size: 1rem;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-align: center;
  z-index: 99;
}

.work {
  font-weight: 200;
  font-size: 2.5rem;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

.links {
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
.aurora:hover {
  color: var(--highlight);
  text-decoration: underline;
}
.karaoke:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.chatable:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.bloom:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.images {
  border-radius: 50%;
  animation: fadeIn 1s ease-in;
}

.description {
  font-size: 1.25em;
  letter-spacing: 1px;
  padding-left: 3%;
  width: 90%;
  font-family: "Bookman";
  animation: fadeIn 1s ease-in;
}

@media (max-width: 768px) {
  .description {
    margin-right: 25px;
    margin-left: 25px;
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    transition: 1s;
  }

  100% {
    opacity: 100%;
  }
}
